* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
  
body {
    margin: 0;
    padding: 0;
    color: #3d3d3d;
    font-family: 'Source Sans Pro', sans-serif;
    background-blend-mode: #fff;
  
}

/* FOOTER CONTENT */

footer {
    background-color: #657eae;
    box-shadow: -1px 0px 10px 1px rgb(0, 0, 0);
  
    width: 100%;
    color: rgb(255, 255, 255);
}
  
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
  
.footer-content a {
    color: #ffffff;
}
  
  
  
.footer-content h4 {
    font-size: 1.5rem;
    width: 200px;
}
  
.footer-info {
    display: flex;
    align-items: center;
  
  
    gap: 10px;
  
    width: calc((100% / 4) - 50px);
}
  
.footer-copyright {
    text-align: center;
    border-top: 2px solid #6f7579b3;
  
    padding: 20px;
}
  
.footer-copyright img {
    width: 17%;
}
