:root {

    /* Fontes - Familia */
    --font-family-titulos: Georgia, 'Times New Roman', Times, sans-serif;
    --font-family-paragrafos: 'Montserrat', sans-serif;
    --font-family-spaan: Segoe;
    --font-family-frases: Brush Script MT, Brush Script Std, cursive;

    /* Fontes - Cores */
    --color-font-um: #3c3c3c;
    --color-font-dois:#515151;
    --color-font-tres: #666f88;
    --color-font-quatro:#788199;
    --color-font-cinco:#8990a2;
    --color-font-seis:#a3a8b7;
    --color-font-sete:#b5bac9;

    /* Configuração para as cores das sessões */
    --backcolor-basico: #FDFEFF; 
    --backcolor-primeira-opcao: #C9E8FC; 
    --backcolor-segunda-opcao: #8CCAF3; 
    --backcolor-terceira-opcao: #4CAAEC; 
    --backcolor-quarta-opcao: #399BDC; 
    --backcolor-quinta-opcao: #47A8EC; 
}

/* Ajuste geral da página */
.container-menu {
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--backcolor-quinta-opcao);
    padding: 10px;
    width: 100%;
}

.container-primario {
    display: flex;
    /*border: 5px solid pink;*/
    align-items: center;
}

.container-secundario {
    display: flex;
    /*border: 5px solid green;*/
}

.container-terciario {
    display: flex;
    /*border: 5px solid green;*/
    align-items: center;
    justify-content: center;
}

/* Logo tokito Techs */

.logo-tokito-techs {
    flex: 0 0 20px 20px;
}


.imagem-tokito-techs {
    height: 4rem;
    width: 5rem;
}

/* Logo Sales Force */

.logo-sales-force .texto-logo-salesforce {
    /*border: 5px solid orange;*/
    font-family: var(--font-family-titulos);
    font-size: 38px;
    color: #FDFEFF;
}

.logo-sales-force .texto-logo-salesforce a {
    color: #FDFEFF;
}

/* Lista de opções do menu */

.opcoes-menu nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    text-decoration: none;
}

.opcoes-menu a {
    font-family: var(--font-family-titulos);
    font-size: 20px;
    color: #FDFEFF;

}

/* Barra de pesquisa */

.conteudo-pesquisa {
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: center;
    /*border: 5px solid red;*/
    padding: 20px;
}


.input-pesquisa-menu {
    border-style: none;
    height: 40px;
    outline: none;
    transition: .5s ease-in-out;
    background-color: var(--backcolor-quinta-opcao);
    
}

.input-pesquisa-menu::placeholder,
.input-pesquisa-menu {
    font-family: var(--font-family-paragrafos);
    font-size: var(--font-size-paragrafos);
    text-align: center;
    
}

.input-pesquisa-menu:focus {
    border-bottom: 5px solid var(--backcolor-terceira-opcao);
}

/* Botão de pesquisa */
.icon-botao-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0px;
    cursor: pointer;
    height: 50px;
    outline: none;
    border-style: none;
    border-radius: 50%;
    pointer-events: painted;
    background-color: transparent;
    transition: .2s linear;
    padding-right: 20px;
    
}

.icon-botao-menu:focus {
    box-shadow: none;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 3px solid var(--backcolor-terceira-opcao);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}


/* Botões como Idioma, Tema, Login */

.botoes-opcoes-menu {
    /*border: 5px solid darkmagenta;*/
    display: flex;
    gap: 20px;
}

/* Botões */

.Btn {
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: var(--backcolor-azul-segunda-opcao);
}
  
  
.sign {
    transition-duration: .3s;
    display: flex;
}
  
.sign svg {
    width: 22px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
  
.sign svg path {
    fill: white;
    
}

.Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
}
  
.Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}
  
.Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}
  
.Btn:active {
    transform: translate(2px, 2px);
}


/* Textos */
.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
}
  
.text a {
    color: var(--color-font-basico);
    
}

/* Menu hamburguer */

#menu-hamburguer {
    display: none;
}

.menu-hamburguer {
    width: 22px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

/* Responsividade */

/* X-Small devices (portrait phones, less than 390px)*/
@media (max-width: 390px) {

    /* CONFIGURAÇÃO DA TELA */

    .container {
        max-width: 390px;
        display: flex;
        gap: 50px;
    }

    .container-secundario {
        display: none;
    }

    /* Logo tokito Techs */

    .imagem-tokito-techs {
        height: 3rem;
        width: 4rem;
    }

    /* Logo Sales Force */
    .logo-sales-force .texto-logo-salesforce {
        font-size: 24px;
    }

    /* Lista de opções do menu */
    .opcoes-menu {
        display: none;
    }

    /* Barra de pesquisa */
    .conteudo-pesquisa {
        display: none;
    }

    /* Icones */
    .botoes-opcoes-menu {
        display: none;
    }

    /* Menu hamburguer */

    #menu-hamburguer {
        display: flex;
    }

    .sign svg {
        width: 30px;

    }



}


