
/* Importaçã da font que será utilizada no site todo*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* Padronização da fonte,a tamanho, cores, background*/
:root {

    /* Fontes - Familia */
    --font-family-padrao: Manrope;

    /* Fontes - Tamanhos*/
    --font-size-titulo-pagina: 18px;
    --font-size-titulos-boxs:16px;
    --font-size-textos: 14px;
    --font-size-textos-pequenos: 12px;
    --font-size-textos-sem-foco: 10px;

    /* Fontes - Cores */
    --color-font-um: #3c3c3c;
    --color-font-dois:#515151;
    --color-font-tres: #666f88;
    --color-font-quatro:#788199;
    --color-font-cinco:#8990a2;
    --color-font-seis:#a3a8b7;
    --color-font-sete:#b5bac9;

    /* Configuração para as cores das sessões */
    --backcolor-basico: #FDFEFF; 
    --backcolor-primeira-opcao: #C9E8FC; 
    --backcolor-segunda-opcao: #8CCAF3; 
    --backcolor-terceira-opcao: #4CAAEC; 
    --backcolor-quarta-opcao: #399BDC; 
    --backcolor-quinta-opcao: #47A8EC; 
}

/* Configuração geral */

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: Manrope;
}

html {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
    overflow-x: hidden; /* Evita a rolagem horizontal */
}

.container-footer {
    /*border: 5px solid salmon;*/
    height: 10rem;
    display: grid;
    align-items: center;
    justify-content: space-between;
}

/* Conteúdo do Footer */

footer {
    background-color: var(--backcolor-quinta-opcao);
    color: rgb(255, 255, 255);
}
  
.container-footer {
    display: grid;
}

/* Sesão com informações de contato */

.conteudo-contato {
    display: flex;
    padding: 2em;
    /*border: 5px solid blue;*/
    text-wrap: wrap;
}

/* Blocos com icones e textos */
.footer-info-endereco, .footer-info-telefone, .footer-info-agendamento {
    display: flex;
    align-items: center;
}

/* Título da página */
.footer-info-titulo {
    font-family: var(--font-family-titulos);
    font-size: var(--font-size-textos-pequenos);
}

/* Textos do box contato */
.footer-info-texto-localidade p, .footer-info-texto-telefone p, .footer-info-texto-agendamento p  {
    font-size: var(--font-size-textos-sem-foco);
}

/* Icones */

.footer-icone {
    padding-left: 30px;
    padding-right: 10px;
}

/* Sessão das redes sociais */

.conteudo-redes-sociais {
    justify-content: start;
    display: flex;
    /*border: 5px solid red;*/
    align-items: center;
    gap: 20px;
    text-wrap: wrap;
    padding: 2em;
}

/* Icones da Rede social */

.conteudo-redes-sociais ul {
    display: flex;
    gap: 1em;
}


/* Icones das redes sociais e de cotato */
.icones-rede-social-font {
    color: #FDFEFF;
    width: 20px;
    height: 30px;
}

/* Sessão das logos */

.conteudo-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /*border: 5px solid green;*/
    padding: 1em;
}

/* Logo Tokito Techs */
.nav-wrapper-logo-Tokito {
    width: 80px;
    height: 80px;
}

/* Texto Logo Tokito Techs */
.logo-tokito-techs {
    font: var(--font-family-titulos);
    font-size: 42px;
    color: #FDFEFF;
}

/* Logo Challenge - Sales Force */
.logo-salesforce {
    font-family: var(--font-family-titulos);
    font-size: 42px;
    color: #fff;
}

/* Criação de uma div para fazer uma linha */

.linha {
    width: 95%;
    height: 1px; /* Altura da linha */
    background-color: #fff;
    margin: 0 auto; /* Centralizar horizontalmente */
}

/* Frase de direitos do projeto */
.frase-direitos-footer{
    font-size: 12px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}


