* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
:root {

    /* Configuração para o menu */
    --font-family-menu: Georgia, 'Times New Roman', Times, serif;
    --font-size-menu-desktop: 22px;
    --font-size-menu-tablet: 20px;
    --font-size-menu-celular-medio: 18px;
    --font-size-menu-celular-pequeno: 16px;

    /* Configuração para os textos, começando do H1 até paragrafos. */
    --font-family-titulo-pagina: Georgia, 'Times New Roman', Times, serif;
    --font-family-subtitulo-pagina: Georgia, 'Times New Roman', Times, serif;
    --font-family-titulos-boxs: Georgia, 'Times New Roman', Times, serif;
    --font-family-paragrafos: 'Montserrat', sans-serif;
    --font-family-spaan: 'Montserrat', sans-serif;
    --font-family-frases-efeitos: 'Verdana', sans-serif;

    /* Configuração para o tamanho das fontes */
    --font-size-titulos: 48px; /* Tamanho dos títulos */
    --font-size-subtitulos: 24px; /* Tamanho dos subtítulos */
    --font-size-titulos-boxs: 18px; /* Tamanho dos títulos */
    --font-size-paragrafos: 14px; /* Tamanho dos parágrafos */
    --font-size-spaan: 18px; /* Tamanho dos elementos especiais */
    --font-size-frases-efeitos: 20px; /* Tamanho das frases de efeito */

    /* Configuração para as cores das sessões - primeira opção */
    --backcolor-basico: #fff; /* Cor de fundo do menu */
    --backcolor-primeira-sessao: #1693A5; /* Cor de fundo da primeira sessão */
    --backcolor-segunda-sessao: #45B5C4; /* Cor de fundo da segunda sessão */
    --backcolor-terceira-sessao: #7ECECA; /* Cor de fundo da terceira sessão */
    --backcolor-quarta-sessao: #A0DED6;; /* Cor de fundo da quarta sessão */
    --backcolor-quinta-sessao: #C7EDE8; /* Cor de fundo da quinta sessão */
    --backcolor-footer: #a0a0a0; /* Cor de fundo da sétima sessão */
    --backcolor-boxs-sessao: #9fc6ce; /* Cor de fundo da primeira sessão */

    /* Configuração para as cores das sessões - segunda opção */
    --backcolor-basico: #fff; /* Cor de fundo do menu */
    --backcolor-primeira-opcao: #F1EBEB; /* Cor de fundo da primeira sessão */
    --backcolor-segunda-opcao: #EEE8E8; /* Cor de fundo da segunda sessão */
    --backcolor-terceira-opcao: #CACACA; /* Cor de fundo da terceira sessão */
    --backcolor-quarta-opcao: #24C0EB;; /* Cor de fundo da quarta sessão */
    --backcolor-quinta-opcao: #5CCEEE; /* Cor de fundo da quinta sessão */
    --backcolor-sexta-opcao: #a0a0a0; /* Cor de fundo da sétima sessão */
    --backcolor-setima-opcao: #9fc6ce; /* Cor de fundo da primeira sessão */

    /* Configuração para as cores das sessões - terceira opção */
    --backcolor-basico: #FDFEFF; 
    --backcolor-azul-primeira-opcao: #C9E8FC; 
    --backcolor-azul-segunda-opcao: #8CCAF3; 
    --backcolor-azul-terceira-opcao: #4CAAEC; 
    --backcolor-azul-quarta-opcao: #399BDC; 
    --backcolor-azul-quinta-opcao: #47A8EC; 


    /* Configuração para o espaçamento entre os textos e conteúdos */
    --spacamento-um: 10px; 
    --spacamento-dois: 20px;
    --spacamento-tres: 30px; 

    /* Configuração para as cores das fontes - Cinza */
    --color-font-basico: #fff;
    --color-font-um: #3c3c3c;
    --color-font-dois:#515151;
    --color-font-tres:#666666;
    --color-font-quatro:#8c8c8c;
    --color-font-cinco:#b5b5b5;

    /* Configuração para as cores das fontes - Azul */
    --color-font-titulos: #666f88;
    --color-font-subtitulos:#788199;
    --color-font-titulos-boxs:#8990a2;
    --color-font-paragrafos:#a3a8b7;
    --color-font-span:#b5bac9;

    /* Configuração para os estilos dos boões */
    --cor-botao-primeiro: #9fc6ce; /* Cor principal do botão */
    --cor-botao-primeiro-hover: #076DB5; /* Cor de hover do botão */
    --cor-botao-font: #ffffff; /* Cor do texto do botão */

    --cor-botao-secundario: #679C43; /* Cor principal do botão */
    --cor-botao-secundario-hover: #076DB5; /* Cor de hover do botão */
    --cor-botao-secundario-font: #ffffff; /* Cor do texto do botão */

    --cor-botao-terceiro: #2F4263; /* Cor principal do botão */
    --cor-botao-terceiro-hover: #076DB5; /* Cor de hover do botão */
    --cor-botao-terceiro-font: #ffffff; /* Cor do texto do botão */
}


#intro {
    background-color: var(--backcolor-primeira-opcao);
    height: 50rem;
    border: 10px solid orange;
}

/* Título da página */

.titulo-pagina-carrosel {
    font-family: var(--font-family-titulo-pagina);
    font-size: var(--font-size-titulos);
    color: var(--color-font-titulos);
    text-transform: uppercase;
    text-align: center;
    /*padding-top: 100px;*/
    /*padding-bottom: 20px;*/
    border: 10px solid red;
}

/* TEXTO DO CARROSEL */

.texto_carrosel {
    font-family: var(--font-family-paragrafos);
    font-size: var(--font-size-paragrafos);
    color: var(--color-font-basico);
    align-items: center;
    margin: 20px;
    padding-top: 20px;
    border: 10px solid paleturquoise;
}

/* IMAGENS DO CARROSEL */
.slide-item {
    width: 100%;
    height: 150px;
    /*margin-bottom: 30px;*/
    border: 10px solid purple;
}

/* TEXTOS DO CARROSEL */

.titulo-carrosel {
    font-family: var(--font-family-titulos-boxs);
    font-size: 28px;
    color: var(--color-font-titulos);
    text-align: center;
    /*padding-bottom: 20px;*/
    border: 10px solid saddlebrown;
}

.texto_carrosel {
    font-family: var(--font-family-paragrafos);
    font-size: var(--font-size-frases-efeitos);
    color: var(--color-font-dois);
    text-align: center;
    padding: 30px;
    border: 10px solid blue;
}

/* Coletar Likes - Satisfação do cliente */

h2 {
    font-family: var(--font-family-frases-efeitos);
    font-size: var(--font-size-frases-efeitos);
    color: var(--color-font-quatro);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    border: 10px solid darkred;
}

/* TEXTOS PARA CAPTAR FEEDBACK */

.like {
    font-family: var(--font-family-spaan);
    font-size: 48px;
    text-align: center;
    align-items: center;
    border: 10px solid aqua;
}

.like i {
    gap: 50px;
    justify-content: space-evenly;
    padding-left: 50px;
    padding-bottom: 50px;
    font-size: 48px;
}

.fa-solid.fa-heart {
    color: red;
}

.fa-regular.fa-thumbs-up{
    color: #076DB5;
}

.fa-solid.fa-thumbs-down {
    color: black;
}

.contagem {
   padding-left: 30px;
}