


:root {

    /* Fontes - Tamanhos*/
    --font-size-titulo-pagina: 18px;
    --font-size-titulos-boxs:16px;
    --font-size-textos: 14px;
    --font-size-textos-pequenos: 12px;
    --font-size-textos-sem-foco: 10px;

    /* Fontes - Cores */
    --color-font-um: #3c3c3c;
    --color-font-dois:#515151;
    --color-font-tres: #666f88;
    --color-font-quatro:#788199;
    --color-font-cinco:#8990a2;
    --color-font-seis:#a3a8b7;
    --color-font-sete:#b5bac9;

    /* Configuração para as cores das sessões */
    --backcolor-basico: #FDFEFF; 
    --backcolor-primeira-opcao: #C9E8FC; 
    --backcolor-segunda-opcao: #8CCAF3; 
    --backcolor-terceira-opcao: #4CAAEC; 
    --backcolor-quarta-opcao: #399BDC; 
    --backcolor-quinta-opcao: #47A8EC; 
}


/* Ajuste geral da página */

.container-cadastro {
    background-color: var(--backcolor-primeira-opcao);
    height: 110vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    padding: 30px;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

/* Imagem do lado esquerdo do fomulário */

.form-image-cadastro {
    /*width: 30%;*/
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--backcolor-segunda-opcao);
    /*padding: 1rem;*/
    text-align: center;
    height: 90vh;
}

.imagem-pagina-cadastro {
    max-width: 300px;
    height: 400px;
    /*border: 5px solid pink;*/
}

.imagem-pagina-cadastro-sales {
    max-width: 300px;
    height: 150px;
    /*border: 5px solid pink;*/
}

/* Formulário de Cadastro */

.form-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    /*border: 5px solid blue;*/
    /*padding: 5rem;*/
}

.formulario-cadastro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 90vh;
   
}

/* Cabeçalho do formulário */

.form-header-cadastro {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    /*border: 5px solid green;*/
}

.form-header-cadastro h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.1rem;
    background-color: var(--backcolor-quarta-opcao);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.title-pagina-cadastro {
    font-size: 14px;
}


/* Botão para efetuar o Login */

.login-button-pagina-cadastro {
    display: flex;
    align-items: center;
}

.login-button-pagina-cadastro button {
    border: none;
    background-color: var(--backcolor-quinta-opcao);
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
}

.login-button-pagina-cadastro button:hover {
    background-color: var(--backcolor-segunda-opcao);
}

.login-button-pagina-cadastro button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

/******************************************************************/

/* Campos para inserir informações */

.box-info-pessoais-cadastro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    
}

/* Títulos dos campos inputs */

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    font-size: 14px;
    font-weight: 500;
    flex-basis: 30%;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid var(--backcolor-quarta-opcao);
}

.input-box label,
.genero-titulo h6,
.empresa-titulo h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
    padding-top: 20px;
    font-size: 14px;
}

.genero-titulo h6,
.empresa-titulo h6 {
    padding-bottom: 20px;
}

.input-box input::placeholder {
    color: #000000be;
}

.genero-group, .empresa-group {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    gap: 30px;
    font-size: 14px;
}

.genero-input, .empresa-input {
    display: flex;
    align-items: center;
}

.genero-input input, .empresa-input input {
    margin-right: 0.35rem;
    
}

.genero-input label, .empresa-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

/* Botão para realizar o cadastro */

.continue-button {
    text-align: center;

}

.continue-button button {
    width: 50%;
    margin-top: 2.5rem;
    border: none;
    background-color: var(--backcolor-quarta-opcao);
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
}

.continue-button button:hover {
    background-color: var(--backcolor-quinta-opcao);
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

/* Título input Empresa */
.empresa-title {
    padding-top: 20px;
}


/* Responsividade */

/* Responsividade */

/* Celular */
@media (max-width: 480px) {


}

@media (min-width: 481px) and (max-width: 769px) {

    .container-cadastro {
        max-width: 769px;
        display: flex;
        flex-direction: column;
        height: 60rem;
    }

    .form-image-cadastro {
        display: flex;
        height: 10vh;
        justify-content: space-evenly;
        margin-top: 30px;
    }

    .imagem-pagina-cadastro {
        height: 10vh;
        
    }

    .imagem-pagina-cadastro-sales {
        height: 6rem;
    }




}


@media (min-width: 770px) and (max-width: 1090px) {

    
}

@media (min-width: 1091px) and (max-width: 1280px) {

    
}




