* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.max-container {
    max-width: 1280px;
}

:root {

    /* Configuração para o menu */
    --font-family-menu: Georgia, 'Times New Roman', Times, serif;
    --font-size-menu-desktop: 22px;
    --font-size-menu-tablet: 20px;
    --font-size-menu-celular-medio: 18px;
    --font-size-menu-celular-pequeno: 16px;

    /* Configuração para os textos, começando do H1 até paragrafos. */
    --font-family-titulo-pagina: Georgia, 'Times New Roman', Times, serif;
    --font-family-subtitulo-pagina: Georgia, 'Times New Roman', Times, serif;
    --font-family-titulos-boxs: Georgia, 'Times New Roman', Times, serif;
    --font-family-paragrafos: 'Montserrat', sans-serif;
    --font-family-spaan: 'Montserrat', sans-serif;
    --font-family-frases-efeitos: 'Verdana', sans-serif;

    /* Configuração para o tamanho das fontes */
    --font-size-titulos: 48px; /* Tamanho dos títulos */
    --font-size-subtitulos: 24px; /* Tamanho dos subtítulos */
    --font-size-titulos-boxs: 18px; /* Tamanho dos títulos */
    --font-size-paragrafos: 14px; /* Tamanho dos parágrafos */
    --font-size-spaan: 18px; /* Tamanho dos elementos especiais */
    --font-size-frases-efeitos: 20px; /* Tamanho das frases de efeito */

    /* Configuração para as cores das sessões - primeira opção */
    --backcolor-basico: #fff; /* Cor de fundo do menu */
    --backcolor-primeira-sessao: #1693A5; /* Cor de fundo da primeira sessão */
    --backcolor-segunda-sessao: #45B5C4; /* Cor de fundo da segunda sessão */
    --backcolor-terceira-sessao: #7ECECA; /* Cor de fundo da terceira sessão */
    --backcolor-quarta-sessao: #A0DED6;; /* Cor de fundo da quarta sessão */
    --backcolor-quinta-sessao: #C7EDE8; /* Cor de fundo da quinta sessão */
    --backcolor-footer: #a0a0a0; /* Cor de fundo da sétima sessão */
    --backcolor-boxs-sessao: #9fc6ce; /* Cor de fundo da primeira sessão */

    /* Configuração para as cores das sessões - segunda opção */
    --backcolor-basico: #fff; /* Cor de fundo do menu */
    --backcolor-primeira-opcao: #F1EBEB; /* Cor de fundo da primeira sessão */
    --backcolor-segunda-opcao: #EEE8E8; /* Cor de fundo da segunda sessão */
    --backcolor-terceira-opcao: #CACACA; /* Cor de fundo da terceira sessão */
    --backcolor-quarta-opcao: #24C0EB;; /* Cor de fundo da quarta sessão */
    --backcolor-quinta-opcao: #5CCEEE; /* Cor de fundo da quinta sessão */
    --backcolor-sexta-opcao: #a0a0a0; /* Cor de fundo da sétima sessão */
    --backcolor-setima-opcao: #9fc6ce; /* Cor de fundo da primeira sessão */

    /* Configuração para as cores das sessões - terceira opção */
    --backcolor-basico: #FDFEFF; 
    --backcolor-azul-primeira-opcao: #C9E8FC; 
    --backcolor-azul-segunda-opcao: #8CCAF3; 
    --backcolor-azul-terceira-opcao: #4CAAEC; 
    --backcolor-azul-quarta-opcao: #399BDC; 
    --backcolor-azul-quinta-opcao: #47A8EC; 


    /* Configuração para o espaçamento entre os textos e conteúdos */
    --spacamento-um: 10px; 
    --spacamento-dois: 20px;
    --spacamento-tres: 30px; 

    /* Configuração para as cores das fontes - Cinza */
    --color-font-basico: #fff;
    --color-font-um: #3c3c3c;
    --color-font-dois:#515151;
    --color-font-tres:#666666;
    --color-font-quatro:#8c8c8c;
    --color-font-cinco:#b5b5b5;

    /* Configuração para as cores das fontes - Azul */
    --color-font-titulos: #666f88;
    --color-font-subtitulos:#788199;
    --color-font-titulos-boxs:#8990a2;
    --color-font-paragrafos:#a3a8b7;
    --color-font-span:#b5bac9;

    /* Configuração para os estilos dos boões */
    --cor-botao-primeiro: #9fc6ce; /* Cor principal do botão */
    --cor-botao-primeiro-hover: #076DB5; /* Cor de hover do botão */
    --cor-botao-font: #ffffff; /* Cor do texto do botão */

    --cor-botao-secundario: #679C43; /* Cor principal do botão */
    --cor-botao-secundario-hover: #076DB5; /* Cor de hover do botão */
    --cor-botao-secundario-font: #ffffff; /* Cor do texto do botão */

    --cor-botao-terceiro: #2F4263; /* Cor principal do botão */
    --cor-botao-terceiro-hover: #076DB5; /* Cor de hover do botão */
    --cor-botao-terceiro-font: #ffffff; /* Cor do texto do botão */
}


/* FOOTER CONTENT */

footer {
    background-color: var(--backcolor-azul-quinta-opcao);
    width: 100%;
    color: rgb(255, 255, 255);
    height: 40vh;

}
  
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 50px;
    align-items: center;
}
  
.footer-content a {
    color: #ffffff;
}
  
  
.footer-content h4 {
    font-size: 1.5rem;
    width: 200px;
}
  
.footer-info {
    display: flex;
    align-items: center;
    gap: 10px;
    width: calc((100% / 4) - 50px);
    padding-bottom: 30px;
}
  
.footer-copyright {
    text-align: center;
    border-top: 2px solid #6f7579b3;
    padding: 20px;
    padding-top: 30px;
}
  
.footer-copyright img {
    width: 17%;
}

/* LOGO DA TOKITO TECHS*/

.footer-copyright.max-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

img.nav-wrapper--logo--Tokito {
    width: 100px;
    height: 100px;
    margin-right: 30px;
}

.logo-tokito-techs {
    font-family: var(--font-family-titulo-pagina);
    font-size: var(--font-size-titulos);
    
}

/* REDES SOCIAIS */

.box-redes-sociais {
    display: flex;
    gap: 30px;
    align-items: start;
}


/* TÍTULO DO FOOTER */

.footer_social_title {
    font-family: var(--font-family-titulo-pagina);
    font-size: 24px;
    color: black;
    
}

.col.footer nav {
    font-size: 12px;
   
}

.icons_rede_social {
    justify-content: center;
    gap: 30px;
    margin: auto;
    align-items: center;
    text-align: center;
    display: flex;

}

.rede_social {
    font-size: 35px;
    color: #fff;
}

/* TITULO DAS REDES SOCIAIS */

.titulo-dois-redes-sociais {
    font-family: var(--font-family-frases-efeitos);
    font-size: 18px;
    
}

.footer-copyright.max-container.redes-sociais {
    justify-content: start;
}
