
  
:root {

    /* Fontes - Familia */
    --font-family-titulos: Georgia, 'Times New Roman', Times, sans-serif;
    --font-family-paragrafos: 'Montserrat', sans-serif;
    --font-family-spaan: Segoe;
    --font-family-frases: Brush Script MT, Brush Script Std, cursive;

    /* Fontes - Cores */
    --color-font-um: #3c3c3c;
    --color-font-dois:#515151;
    --color-font-tres: #666f88;
    --color-font-quatro:#788199;
    --color-font-cinco:#8990a2;
    --color-font-seis:#a3a8b7;
    --color-font-sete:#b5bac9;

    /* Configuração para as cores das sessões */
    --backcolor-basico: #FDFEFF; 
    --backcolor-primeira-opcao: #C9E8FC; 
    --backcolor-segunda-opcao: #8CCAF3; 
    --backcolor-terceira-opcao: #4CAAEC; 
    --backcolor-quarta-opcao: #399BDC; 
    --backcolor-quinta-opcao: #47A8EC; 
}

/* Configuração geral da página */

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.container-formulario-necessidade {
    height: 100vh;
    background-color: var(--backcolor-quarta-opcao);
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: 10px solid red;
    align-items: center;
    padding: 20px;
}

/* Título da página principal */
.texto-descritivo-formulario {
    font-family: var(--font-family-titulos);
    font-size: 18px;
    background-color: var(--backcolor-basico);
    border: 10px solid #fff;
    width: 70%;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: var(--color-font-tres);
    text-align: center;
    border-radius: 10px;
    height: 80px;
    align-items: center;
    padding-top: 10px;
}


/* Frase razão do formulário */

.subtitulo-pagina-formulario {
    font-family: var(--font-family-titulos);
    padding-bottom: 10px;
    font-size: 22px;
    color: var(--backcolor-primeira-opcao);
    text-align: center;
}

.frase-razao-formulario {
    font-family: var(--font-family-paragrafos);
    color: var(--backcolor-basico);
    font-size: 16px;
    padding-bottom: 20px;
    margin: 20px;
    text-align: center;
    
}


/* Formulário geral */

.formulario-indentificao {
    /*border: 10px solid green;*/
    height: 30rem;
    width: 80%;
}

.sobre-formulario {
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Formulário - Dados de Identificação */

.Subtitulo-pagina-formulario{
    color: #fff;
}

.box-dados-indentificao {
    display: flex;
    /*border: 10px solid yellow;*/
    padding: 10px;
    justify-content: center;
    color: var(--color-font-titulos);
    gap: 20px;
    font-family: var(--font-family-paragrafos);
}

/* Setor de atuação */

.box-dados-setor-atuacao {
    display: flex;
    /*border: 10px solid blue;*/
    padding: 10px;
    justify-content: center;
    gap: 20px;
}

/* Desafios e Objetivos */

.box-desafios {
    display: flex;
    /*border: 10px solid grey;*/
    padding: 10px;
    justify-content: center;
    gap: 20px;
}

/* Processos e Necessidades */

.box-processos, .box-necessidade {
    display: flex;
    /*border: 10px solid grey;*/
    padding: 10px;
    justify-content: center;
    gap: 20px;
}

/* Experiência e Preferências */
.box-dados-experiencia-preferencias {
    display: flex;
    /*border: 10px solid black;*/
    padding: 10px;
    justify-content: center;
    gap: 20px;
}

/* Campos de escrita e inputs */

label {
    color: var(--color-font-titulos);
}

input {
    font-family: var(--font-family-paragrafos);
    font-size: 15px;
    /*text-transform: uppercase;*/
    padding: 15px;
    border-radius: 5px;
    border: #fff;
    width: 380px;
}

/* INPUTS COM SELEÇÕES */

.form-select {
    font-family: var(--font-family-paragrafos);
    font-size: 15px;
    /*text-transform: uppercase;*/
    padding: 14px;
    border-radius: 5px;
    border: #fff;
    width: 380px;
    color: var(--color-font-titulos);
}

.form-select-processos-necessidades {
    font-size: 15px;
    /*text-transform: uppercase;*/
    padding: 14px;
    border-radius: 5px;
    border: #fff;
    width: 380px;
    color: var(--color-font-titulos);
    margin-bottom: 10px;
}

/* BOTÃO */

.btn-formulario {
    background-color: #fff;
    color: var(--color-font-titulos);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    font-size: 22px;
    font-weight: 700;
    margin-top: 20px;
}

.btn-formulario:hover {
    background-color: #0056b3;
}

