
/* Padronização da fonte,a tamanho, cores, background*/
:root {

    /* Fontes - Tamanhos*/
    --font-size-titulo-pagina: 64px;
    --font-size-titulos-boxs:16px;
    --font-size-textos: 14px;
    --font-size-textos-pequenos: 12px;
    --font-size-textos-sem-foco: 10px;

    /* Fontes - Cores */
    --color-font-um: #000000;
    --color-font-dois:#86674A;
    --color-font-tres: #FFFFFF;
    --color-font-quatro:#EEECDF;


    /* Configuração para as cores das sessões */
    /* Configuração para as cores das sessões */
    --backcolor-basico: #FDFEFF; 
    --backcolor-primeira: #C9E8FC; 
    --backcolor-segunda: #8CCAF3; 
    --backcolor-terceira: #4CAAEC; 
    --backcolor-quarta: #399BDC; 
    --backcolor-quinta: #47A8EC; 
}


/* Configurção geral */

.info-container-equipe {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--backcolor-primeira-opcao);
    height: 100vh;
    gap: 30px;
    padding: 30px;
}
  
.content-cards-equipe {
    display: flex;
    align-content: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
  

/* Título da página */

.titulo-pagina-equipe {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--color-font-um);
}


  
/* Time de desenvolvimento */
  
.card-equipe {
    background: #f5f5f5;
    padding: 2rem 1.5rem;
    margin: 40px 10px;
    width: 220px;
    border-radius: 12px;
    transition: box-shadow .3s ease, transform .2s ease;
}
  
.card-info-equipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease, opacity .2s ease;
}
  
/* Imagem CLAUDIO */
.card-avatar-claudio {
    --size: 100px;
    /*background-image: url(/challenge//src//assets//Equipe//claudio.jpeg);*/
    background-size: cover;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transition: transform .2s ease;
    margin-bottom: 1rem;
}
  
/* Imagem SARA */
  .card-avatar-sara {
    --size: 100px;
    /*background-image: url(/challenge//src//assets//Equipe//sara.jpg);*/
    background-size: cover;
    background-position-x: 500px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transition: transform .2s ease;
    margin-bottom: 1rem;

  }
  
  /*Imagem Patricia*/
  .card-avatar-patricia {
    --size: 100px;
    /*background-image: url(/challenge//src//assets//Equipe//avatar-pat.jpg);*/
    background-size: cover;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transition: transform .2s ease;
    margin-bottom: 1rem;
  }
  
  /*Card footer*/
  .card-social-equipe {
    transform: translateY(200%);
    display: flex;
    justify-content: space-around;
    padding: 0;
    width: 100%;
    opacity: 0;
    transition: transform .2s ease, opacity .2s ease;
  }
  
  .card-social__item {
    list-style: none;
  }
  
  .card-social__item svg {
    display: block;
    height: 25px;
    width: 25px;
    fill: #515F65;
    cursor: pointer;
    transition: fill 0.2s ease, transform 0.2s ease;
  }
  
  /*Text*/
  .card-title-equipe {
    color: #333;
    font-size: 1em;
    font-weight: 600;
    line-height: 2rem;
  }
  
  .card-subtitle-equipe {
    color: #859ba8;
    font-size: 0.8em;
  }
  
  /*Hover*/
  .card-equipe:hover {
    box-shadow: 0 8px 50px #23232333;
  }
  
  .card-equipe:hover .card-info-equipe {
    transform: translateY(-5%);
  }
  
  .card-equipe:hover .card-social-equipe {
    transform: translateY(100%);
    opacity: 1;
  }
  
  .card-social__item svg:hover {
    fill: #232323;
    transform: scale(1.1);
  }
  
  .card-avatar:hover {
    transform: scale(1.1);
  }
  